WindowsFormsApp1/Connected Services/ERP/erpPlatform.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ns="http://webservice.bedp.byttersoft.com" xmlns:ns1="http://org.apache.axis2/xsd" targetNamespace="http://webservice.bedp.byttersoft.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation>erpPlatform</wsdl:documentation>
  <wsdl:types>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://webservice.bedp.byttersoft.com">
      <xs:element name="serverErpXml">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="erpReqXml" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="serverErpXmlResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="serverErpXmlRequest">
    <wsdl:part name="parameters" element="ns:serverErpXml" />
  </wsdl:message>
  <wsdl:message name="serverErpXmlResponse">
    <wsdl:part name="parameters" element="ns:serverErpXmlResponse" />
  </wsdl:message>
  <wsdl:portType name="erpPlatformPortType">
    <wsdl:operation name="serverErpXml">
      <wsdl:input wsaw:Action="urn:serverErpXml" message="ns:serverErpXmlRequest" />
      <wsdl:output wsaw:Action="urn:serverErpXmlResponse" message="ns:serverErpXmlResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="erpPlatformSoap11Binding" type="ns:erpPlatformPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="serverErpXml">
      <soap:operation soapAction="urn:serverErpXml" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="erpPlatformSoap12Binding" type="ns:erpPlatformPortType">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="serverErpXml">
      <soap12:operation soapAction="urn:serverErpXml" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="erpPlatformHttpBinding" type="ns:erpPlatformPortType">
    <http:binding verb="POST" />
    <wsdl:operation name="serverErpXml">
      <http:operation location="erpPlatform/serverErpXml" />
      <wsdl:input>
        <mime:content part="serverErpXml" type="text/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="serverErpXml" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="erpPlatform">
    <wsdl:port name="erpPlatformHttpSoap11Endpoint" binding="ns:erpPlatformSoap11Binding">
      <soap:address location="http://192.168.31.11:8090/BisOutPlatform/services/erpPlatform.erpPlatformHttpSoap11Endpoint/" />
    </wsdl:port>
    <wsdl:port name="erpPlatformHttpSoap12Endpoint" binding="ns:erpPlatformSoap12Binding">
      <soap12:address location="http://192.168.31.11:8090/BisOutPlatform/services/erpPlatform.erpPlatformHttpSoap12Endpoint/" />
    </wsdl:port>
    <wsdl:port name="erpPlatformHttpEndpoint" binding="ns:erpPlatformHttpBinding">
      <http:address location="http://192.168.31.11:8090/BisOutPlatform/services/erpPlatform.erpPlatformHttpEndpoint/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>